/********************* VARIABLES *********************/
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);
$desktopMinWidth: "1130px";
$mobileMaxWidth: "650px";

@mixin flex_sp_bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin font_title {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
@mixin menu_link {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    &::after {
        content: "";
        border-bottom: 2px solid hsla(0, 0%, 100%, 0);
        display: block;
        width: 25px;
        position: relative;
        top: 10px;
        margin: 0px auto;
    }
    &:hover::after {
        border-bottom: 2px solid white;
    }
}

/********************* STYLE *********************/
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
    font-size: 15px;
    font-weight: 400;
    box-sizing: border-box;
    a {
        cursor: pointer;
    }
}
header {
    width: 100%;
    height: 650px;
    background: url(../../images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    background: filter();
    box-sizing: border-box;
    @media screen and (max-width: $mobileMaxWidth) {
        background: url(../../images/mobile/image-hero.jpg) no-repeat;
        background-size: cover;
    }
    .background_darker {
        height: 100%;
        background-color: rgba(black, 0.4);
        padding-top: 60px;
        box-sizing: border-box;
    }
    .header {
        width: 1120px;
        height: 500px;
        margin: auto;
        display: flex;
        align-items: flex-end;
        position: relative;
        @media screen and (max-width: $desktopMinWidth) {
            width: 90%;
        }
        @media screen and (max-width: $mobileMaxWidth) {
            align-items: center;
        }
        .logo {
            position: absolute;
            top: 0px;
            left: 0px;
            @media screen and (max-width: $mobileMaxWidth) {
                transform: scale(0.7);
                left: -28px;
                z-index: 2;
            }
        }
        #hamburger {
            display: none;
            @media screen and (max-width: $desktopMinWidth) {
                display: inline-block;
                width: 24px;
                height: 16px;
                position: absolute;
                top: 10px;
                right: 0px;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                top: 7px;
            }
        }
        #close {
            display: none;
            @media screen and (max-width: $desktopMinWidth) {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 10px;
                right: 0px;
                display: none;
                z-index: 3;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                display: none;
                top: 7px;
            }
        }
        .menu {
            @include flex_sp_bt();
            position: absolute;
            top: 0px;
            right: 0px;
            list-style-type: none;
            @media screen and (min-width: $desktopMinWidth) {
                display: flex !important;
            }
            @media screen and (max-width: $desktopMinWidth) {
                position: fixed;
                margin: 0px;
                width: 100%;
                height: 650px;
                padding: 60px 40px;
                box-sizing: border-box;
                display: none;
                flex-direction: column;
                justify-content: space-around;
                background: rgba(black, 0.5);
                backdrop-filter: blur(8px);
            }
            @media screen and (max-width: $mobileMaxWidth) {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 0px 20px;
                background-color: black;
                z-index: 1;
            }
            li {
                margin-left: 40px;
                @media screen and (max-width: $desktopMinWidth) {
                    margin: 20px;
                }
                a {
                    @include menu_link();
                    @media screen and (max-width: $desktopMinWidth) {
                        @include font_title();
                        font-size: 2em;
                    }
                }
            }
        }
        h1 {
            @include font_title();
            font-size: 4em;
            color: white;
            padding: 40px 50px;
            width: 600px;
            border: 2px solid white;
            box-sizing: border-box;
            @media screen and (max-width: $desktopMinWidth) {
                min-width: 550px;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                font-size: 2.8em;
                padding: 20px 20px;
                width: 350px;
                min-width: 90%;
            }
        }
    }
}

main {
    width: 1120px;
    padding: 160px 0px 100px 0px;
    margin: auto;
    box-sizing: border-box;
    @media screen and (max-width: $desktopMinWidth) {
        width: 100%;
    }
    @media screen and (max-width: $mobileMaxWidth) {
        padding: 50px 0px;
        margin: 0px;
    }
    .mobile_img {
        display: none;
        @media screen and (max-width: $desktopMinWidth) {
            display: block;
        }
    }
    .desktop_img {
        @media screen and (max-width: $desktopMinWidth) {
            display: none;
        }
    }
    h2 {
        @include font_title();
        font-size: 3em;
        color: black;
        @media screen and (max-width: $mobileMaxWidth) {
            width: 90%;
            margin: 20px auto;
            font-size: 2em;
        }
    }
    .introduction {
        position: relative;
        width: 100%;
        height: 560px;
        box-sizing: inherit;
        @media screen and (max-width: $desktopMinWidth) {
            display: flex;
            flex-direction: column;
            height: fit-content;
        }
        img {
            @media screen and (max-width: $desktopMinWidth) {
                width: 80%;
                height: auto;
                margin: auto;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                width: 90%;
            }
        }
        article {
            width: 450px;
            padding: 50px 0px 50px 100px;
            padding-right: 0px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            background-color: white;
            @media screen and (max-width: $desktopMinWidth) {
                position: initial;
                margin: auto;
                padding: 50px;
                width: 70%;
                text-align: center;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                padding: 20px;
                width: 100%;
                box-sizing: border-box;
                margin: 20px auto;
            }
            p {
                margin: 0px;
                line-height: 1.8em;
                color: $DarkGray;
                @media screen and (max-width: $mobileMaxWidth) {
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }
    .creations {
        margin-top: 100px;
        position: relative;
        @media screen and (max-width: $desktopMinWidth) {
            text-align: center;
        }
        @media screen and (max-width: $mobileMaxWidth) {
            width: 100%;
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .projects {
            display: grid;
            grid-template-columns: 256px 256px 256px 256px;
            grid-template-rows: 450px 450px;
            grid-gap: 30px;
            justify-items: stretch;
            margin: 90px auto;
            @media screen and (max-width: $desktopMinWidth) {
                display: grid;
                grid-template-columns: 49% 49%;
                grid-template-rows: 25% 25% 25% 25%;
                justify-items: center;
                grid-gap: 20px;
                padding: 0px 30px;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                width: 100%;
                display: initial;
                margin: 20px 0px;
                padding: 0px;
            }
        }
        .projects__card {
            height: 450px;
            width: 256px;
            overflow: hidden;
            position: relative;
            @media screen and (max-width: $desktopMinWidth) {
                width: 100%;
                height: auto;
                margin: 0;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                width: 90%;
                margin: 20px auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &--hover {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 256px;
                height: 450px;
                background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.5));
                display: flex;
                align-items: flex-end;
                transition: 0.5s ease;
                &:hover {
                    background: hsla(0, 0%, 100%, 0.5);
                }
                &:hover h3 {
                    color: black;
                }
                @media screen and (max-width: $desktopMinWidth) {
                    width: 47vw;
                    height: 28vh;
                    margin: 0;
                    background: linear-gradient(to left, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.5));
                }
                @media screen and (max-width: $mobileMaxWidth) {
                    width: 90vw;
                    height: 30vh;
                }
            }

            h3 {
                padding: 40px;
                color: white;
                font-size: 2em;
                @include font_title();
                margin: 0px;
                transition: 0.5s ease;
                @media screen and (max-width: $desktopMinWidth) {
                    padding: 20px;
                    text-align: start;
                }
                @media screen and (max-width: $mobileMaxWidth) {
                    padding: 7%;
                    font-size: 1.6em;
                }
            }
        }
        button {
            font-family: "Alata", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: black;
            text-align: center;
            letter-spacing: 0.3em;
            padding: 10px 15px;
            width: 150px;
            position: absolute;
            top: 0px;
            right: 0px;
            border: 2px solid $VeryDarkGray;
            background-color: white;
            transition: 0.5s ease;
            cursor: pointer;
            @media screen and (max-width: $desktopMinWidth) {
                position: initial;
                margin-top: 20px;
            }
            @media screen and (max-width: $mobileMaxWidth) {
                border: 1px solid $VeryDarkGray;
                margin: 0px auto;
            }
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}
footer {
    background-color: black;
    padding: 60px 0px 10px;
    .footer {
        width: 1120px;
        height: 114px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $desktopMinWidth) {
            display: inherit;
            text-align: center;
            width: 90%;
            height: fit-content;
        }
        @media screen and (max-width: $mobileMaxWidth) {
            padding-top: 60px;
        }
        .part1 {
            .menu {
                @include flex_sp_bt();
                list-style-type: none;
                padding: 0px;
                margin-top: 20px;
                @media screen and (max-width: $desktopMinWidth) {
                    width: 80%;
                    margin: 30px auto;
                    justify-content: space-around;
                }
                @media screen and (max-width: $mobileMaxWidth) {
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    margin: 30px auto;
                }
                li {
                    margin: 10px 30px 10px 0px;
                    @media screen and (max-width: $mobileMaxWidth) {
                        margin: 10px auto;
                    }
                    a {
                        @include menu_link();
                    }
                }
            }
        }
        .part2 {
            @media screen and (max-width: $mobileMaxWidth) {
                height: 100px;
            }
            .networks {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 30px;
                @media screen and (max-width: $desktopMinWidth) {
                    justify-content: center;
                    margin-bottom: 20px;
                }
                @media screen and (max-width: $mobileMaxWidth) {
                    margin-bottom: 0px;
                }
                a {
                    display: inline-block;
                    margin-left: 15px;
                    padding-bottom: 5px;
                    border-bottom: 2px solid rgba(white, 0);
                    @media screen and (max-width: $desktopMinWidth) {
                        margin: 20px;
                    }
                    @media screen and (max-width: $mobileMaxWidth) {
                        margin: 10px;
                    }
                    &:hover {
                        border-bottom: 2px solid white;
                    }
                }
            }
            p {
                color: $DarkGray;
            }
        }
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        color: $DarkGray;
        background-color: black;
        padding-bottom: 10px;
        margin: 10px auto;
        a {
            color: white;
        }
    }
}
