/********************* VARIABLES *********************/
/********************* STYLE *********************/
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
}

body a {
  cursor: pointer;
}

header {
  width: 100%;
  height: 650px;
  background: url(../../images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background: filter();
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  header {
    background: url(../../images/mobile/image-hero.jpg) no-repeat;
    background-size: cover;
  }
}

header .background_darker {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header {
  width: 1120px;
  height: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media screen and (max-width: 1130px) {
  header .header {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  header .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .header .logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 650px) {
  header .header .logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    left: -28px;
    z-index: 2;
  }
}

header .header #hamburger {
  display: none;
}

@media screen and (max-width: 1130px) {
  header .header #hamburger {
    display: inline-block;
    width: 24px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 0px;
  }
}

@media screen and (max-width: 650px) {
  header .header #hamburger {
    top: 7px;
  }
}

header .header #close {
  display: none;
}

@media screen and (max-width: 1130px) {
  header .header #close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 0px;
    display: none;
    z-index: 3;
  }
}

@media screen and (max-width: 650px) {
  header .header #close {
    display: none;
    top: 7px;
  }
}

header .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  list-style-type: none;
}

@media screen and (min-width: 1130px) {
  header .header .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 1130px) {
  header .header .menu {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 650px;
    padding: 60px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}

@media screen and (max-width: 650px) {
  header .header .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 20px;
    background-color: black;
    z-index: 1;
  }
}

header .header .menu li {
  margin-left: 40px;
}

@media screen and (max-width: 1130px) {
  header .header .menu li {
    margin: 20px;
  }
}

header .header .menu li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

header .header .menu li a::after {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  display: block;
  width: 25px;
  position: relative;
  top: 10px;
  margin: 0px auto;
}

header .header .menu li a:hover::after {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 1130px) {
  header .header .menu li a {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2em;
  }
}

header .header h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4em;
  color: white;
  padding: 40px 50px;
  width: 600px;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1130px) {
  header .header h1 {
    min-width: 550px;
  }
}

@media screen and (max-width: 650px) {
  header .header h1 {
    font-size: 2.8em;
    padding: 20px 20px;
    width: 350px;
    min-width: 90%;
  }
}

main {
  width: 1120px;
  padding: 160px 0px 100px 0px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1130px) {
  main {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  main {
    padding: 50px 0px;
    margin: 0px;
  }
}

main .mobile_img {
  display: none;
}

@media screen and (max-width: 1130px) {
  main .mobile_img {
    display: block;
  }
}

@media screen and (max-width: 1130px) {
  main .desktop_img {
    display: none;
  }
}

main h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  color: black;
}

@media screen and (max-width: 650px) {
  main h2 {
    width: 90%;
    margin: 20px auto;
    font-size: 2em;
  }
}

main .introduction {
  position: relative;
  width: 100%;
  height: 560px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media screen and (max-width: 1130px) {
  main .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 1130px) {
  main .introduction img {
    width: 80%;
    height: auto;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  main .introduction img {
    width: 90%;
  }
}

main .introduction article {
  width: 450px;
  padding: 50px 0px 50px 100px;
  padding-right: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: white;
}

@media screen and (max-width: 1130px) {
  main .introduction article {
    position: initial;
    margin: auto;
    padding: 50px;
    width: 70%;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  main .introduction article {
    padding: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 20px auto;
  }
}

main .introduction article p {
  margin: 0px;
  line-height: 1.8em;
  color: #8c8c8c;
}

@media screen and (max-width: 650px) {
  main .introduction article p {
    width: 90%;
    margin: auto;
  }
}

main .creations {
  margin-top: 100px;
  position: relative;
}

@media screen and (max-width: 1130px) {
  main .creations {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  main .creations {
    width: 100%;
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .creations .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 256px 256px 256px 256px;
      grid-template-columns: 256px 256px 256px 256px;
  -ms-grid-rows: 450px 450px;
      grid-template-rows: 450px 450px;
  grid-gap: 30px;
  justify-items: stretch;
  margin: 90px auto;
}

@media screen and (max-width: 1130px) {
  main .creations .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
    grid-gap: 20px;
    padding: 0px 30px;
  }
}

@media screen and (max-width: 650px) {
  main .creations .projects {
    width: 100%;
    display: initial;
    margin: 20px 0px;
    padding: 0px;
  }
}

main .creations .projects__card {
  height: 450px;
  width: 256px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1130px) {
  main .creations .projects__card {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  main .creations .projects__card {
    width: 90%;
    margin: 20px auto;
  }
}

main .creations .projects__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .creations .projects__card--hover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 256px;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .creations .projects__card--hover:hover {
  background: rgba(255, 255, 255, 0.5);
}

main .creations .projects__card--hover:hover h3 {
  color: black;
}

@media screen and (max-width: 1130px) {
  main .creations .projects__card--hover {
    width: 47vw;
    height: 28vh;
    margin: 0;
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
}

@media screen and (max-width: 650px) {
  main .creations .projects__card--hover {
    width: 90vw;
    height: 30vh;
  }
}

main .creations .projects__card h3 {
  padding: 40px;
  color: white;
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (max-width: 1130px) {
  main .creations .projects__card h3 {
    padding: 20px;
    text-align: start;
  }
}

@media screen and (max-width: 650px) {
  main .creations .projects__card h3 {
    padding: 7%;
    font-size: 1.6em;
  }
}

main .creations button {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  text-align: center;
  letter-spacing: 0.3em;
  padding: 10px 15px;
  width: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px solid dimgray;
  background-color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

@media screen and (max-width: 1130px) {
  main .creations button {
    position: initial;
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  main .creations button {
    border: 1px solid dimgray;
    margin: 0px auto;
  }
}

main .creations button:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  padding: 60px 0px 10px;
}

footer .footer {
  width: 1120px;
  height: 114px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1130px) {
  footer .footer {
    display: inherit;
    text-align: center;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 650px) {
  footer .footer {
    padding-top: 60px;
  }
}

footer .footer .part1 .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
}

@media screen and (max-width: 1130px) {
  footer .footer .part1 .menu {
    width: 80%;
    margin: 30px auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 650px) {
  footer .footer .part1 .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: 30px auto;
  }
}

footer .footer .part1 .menu li {
  margin: 10px 30px 10px 0px;
}

@media screen and (max-width: 650px) {
  footer .footer .part1 .menu li {
    margin: 10px auto;
  }
}

footer .footer .part1 .menu li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

footer .footer .part1 .menu li a::after {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  display: block;
  width: 25px;
  position: relative;
  top: 10px;
  margin: 0px auto;
}

footer .footer .part1 .menu li a:hover::after {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 650px) {
  footer .footer .part2 {
    height: 100px;
  }
}

footer .footer .part2 .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1130px) {
  footer .footer .part2 .networks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  footer .footer .part2 .networks {
    margin-bottom: 0px;
  }
}

footer .footer .part2 .networks a {
  display: inline-block;
  margin-left: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

@media screen and (max-width: 1130px) {
  footer .footer .part2 .networks a {
    margin: 20px;
  }
}

@media screen and (max-width: 650px) {
  footer .footer .part2 .networks a {
    margin: 10px;
  }
}

footer .footer .part2 .networks a:hover {
  border-bottom: 2px solid white;
}

footer .footer .part2 p {
  color: #8c8c8c;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  color: #8c8c8c;
  background-color: black;
  padding-bottom: 10px;
  margin: 10px auto;
}

footer .attribution a {
  color: white;
}
/*# sourceMappingURL=style.css.map */