/********************* VARIABLES *********************/
/********************* STYLE *********************/
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

header {
  background: url(../../images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 650px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 160px 100px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

header .logo {
  position: absolute;
  top: 60px;
  left: 160px;
}

header .hamburger {
  display: none;
}

header .close {
  display: none;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 60px;
  right: 160px;
  list-style-type: none;
  margin: 0px;
}

header .menu li {
  margin: 10px;
}

header .menu li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

header .menu li a::after {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  display: block;
  width: 25px;
  position: relative;
  top: 10px;
  margin: 0px auto;
}

header .menu li a:hover::after {
  border-bottom: 2px solid white;
}

header h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4em;
  color: white;
  padding: 40px 50px;
  width: 600px;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 1120px;
  padding: 160px 0px 100px 0px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .mobile_img {
  display: none;
}

main h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  color: black;
}

main .introduction {
  position: relative;
  width: 100%;
  height: 600px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

main .introduction article {
  width: 450px;
  padding: 100px;
  padding-right: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: white;
}

main .introduction article p {
  margin: 0px;
  line-height: 1.8em;
  color: #8c8c8c;
}

main .creations {
  margin-top: 100px;
  position: relative;
}

main .creations .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 256px 256px 256px 256px;
      grid-template-columns: 256px 256px 256px 256px;
  -ms-grid-rows: 450px 450px;
      grid-template-rows: 450px 450px;
  grid-gap: 30px;
  justify-items: stretch;
  margin: 90px 0px;
}

main .creations .projects__card {
  height: 450px;
  width: 256px;
  overflow: hidden;
  position: relative;
}

main .creations .projects__card h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 350px 40px 40px 40px;
  color: white;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .creations .projects__card h3:hover {
  background: rgba(255, 255, 255, 0.7);
  color: black;
}

main .creations button {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  text-align: center;
  letter-spacing: 0.5em;
  padding: 15px;
  width: 190px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px solid dimgray;
  background-color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .creations button:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  padding: 60px 160px 60px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .part1 .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
}

footer .part1 .menu li {
  margin: 10px 30px 10px 0px;
}

footer .part1 .menu li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

footer .part1 .menu li a::after {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  display: block;
  width: 25px;
  position: relative;
  top: 10px;
  margin: 0px auto;
}

footer .part1 .menu li a:hover::after {
  border-bottom: 2px solid white;
}

footer .part2 .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

footer .part2 .networks a {
  display: inline-block;
  margin-left: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

footer .part2 .networks a:hover {
  border-bottom: 2px solid white;
}

footer .part2 p {
  color: #8c8c8c;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #8c8c8c;
  background-color: black;
  padding-bottom: 10px;
}

.attribution a {
  color: white;
}
/*# sourceMappingURL=style.css.map */